{% extends 'base.html' %}
{% load static %}

{% block head_title %}
    Главная страница
{% endblock %}

{% block extralinks %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/main_page.css' %}">

{% endblock %}

{% block content %}
    <header>
        <h1>Добро пожаловать на наш сайт</h1>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">О Тренажерe</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
        <div>
            <a href="{% url 'signup' %}">Зарегистрироваться / Войти</a>
            <a href="https://t.me/pocket_psycholog_bot">Бот-тренажер</a>
        </div>
    </header>
    <main>
        <h2>Онлайн тренажер навыков общения и эмоционального баланса</h2>
        <p>
            Наша компания предоставляет онлайн тренажеры для развития коммуникативных
            навыков и стрессоустойчивости людей.
            Наши программы разработаны профессиональными психологами и ориентированы
            на решение различных психологических задач.
        </p>
        <p>
            Мы предлагаем широкий выбор тренажеров, которые помогут развить навыки управления эмоциями, общения,
            повысить уверенность в себе, справиться с тревожностью и многое другое.
        </p>
        <a href="https://t.me/pocket_psycholog_bot">Начать тренироваться</a>
    </main>
{% endblock %}

{% block footer %}
    <footer>
        <p>© Компания "Онлайн тренажер в сфере психологии" 2023</p>
    </footer>
{% endblock %}
