@font-face {
    font-family: 'Monster-Medium';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Monster-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Monster-Light';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f6f6;
    font-size: 16px;
    color: #333;
    font-family: Monster-Medium, sans-serif;

}

.container {
    margin: 0 auto;
    position: relative;
    width: 800px;
}

form{
    margin-top: 50px ;
}

p{
    padding: 10px;
}
.btn-blue-forgot {
    margin-top: 20px;
    background-color: #132b8b;
    border-color: #132b8b;
    color: #fff;
    font-family: Monster-Medium, sans-serif;
    /*transition: all 0.5s ease-in-out;*/
}

.btn-blue-forgot:hover {
    background-color: #fff;
    border-color: #13478b;
    color: #1b138b;

    /*transform: rotate(360deg);*/
}

.error-message {
    color: #f00;
    font-size: 12px;
    text-align: center;
    margin: -5px;
    padding-bottom: 10px;
}

p {
    text-align: center;
    padding-top: 15px;
    font-family: Monster-Medium, sans-serif;
}

h2 {
    text-align: center;
    font-family: Monster-Bold, sans-serif;
    font-size: 30px;
}

.off {
    display: none;
}

.on {
    display: block;
}

.input_on {
    border: #ff0000 1px solid;
}
