{% extends 'base.html' %}
{% load static %}

{% block head_title %}
    Новый пароль
{% endblock %}

{% block extralinks %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/users_signup.css' %}">

{% endblock %}


{% block content %}
    <div class="container">
        <form class="form-signin text-center">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Придумайте новый пароль</h1>

            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required class="form-control  pass_input_off"
                       placeholder="Введите пароль">
            </div>
{#            <p id="error-pass" class="error-message off">Что-то пошло не так, возможно вы неправильно написали пароль.#}
{#                Проверьте раскладку, на котоой вы пишите и попробуйте снова.#}
{#                Также вы можете поменять пароль нажав на кнопку забыл пароль#}
{#            </p>#}
            <button class="btn btn-lg btn-blue btn-block mt-5" type="submit">Изменить пароль</button>
        </form>


    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/change_password.js' %}"></script>


{% endblock %}