{% extends 'base.html' %}
{% load static %}


{% block head_title %}
    Забыли пароль?
{% endblock %}

{% block extralinks %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/users_signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgot_password.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-signin text-center">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Восстановление пароля</h1>
            <p>Введите email, который указывали при регистрации, вам придет туда
                код и потом вы сможете поменять пароль</p>
            <label for="email">Email</label>
            <div class="input-group mb-3">
                <input type="email" class="form-control input_off" id="email" name="email"
                       placeholder="Введите ваш email">
            </div>
            <p id="error-email" class="error-message off">Такого email не существует, попробуйте указать другой</p>

            <button class="btn btn-lg btn-primary mt-5 register btn-blue-forgot" type="submit">Восстановить пароль</button>
        </form>
    </div>

    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <h2>Отправили письмо для подтвеждения смены пароля на вашу почту!</h2>
            <p>Чтобы изменить пароль, вам необходимо нажать на кнопку в письме.
                Вас перенаправит обратно на сайт, и вы сможете сменить пароль.
                Если пароль не приходит, можете обновить страницу и попробовать указать почту по новой</p>
        </div>
    </div>

    <script src="{% static 'js/forgot_password.js' %}"></script>
{% endblock %}