{% extends 'base.html' %}
{% load static %}
{% block head_title %}
    Регистрация
{% endblock %}

{% block extralinks %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/users_signup.css' %}">

{% endblock %}

{% block content %}

    <div class="container">
        <form class="form-signin text-center">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
            <label for="phone">Номер телефона:</label>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">+7</span>
                </div>
                <input type="tel" class="form-control input_off" id="phone" name="phone_number"
                       placeholder="(___) ___-__-__"
                       data-phone-pattern>
            </div>
            <p id="error-phone" class="error-message off">Такого телефона нет в базе сотрудников, попробуйте
                другой</p>
            <label for="email">Email</label>
            <div class="input-group mb-3">
                <input type="email" class="form-control input_off" id="email" name="email"
                       placeholder="Введите ваш email">
            </div>

            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" placeholder="Придумайте пароль" required
                       class="form-control">
            </div>
            <button class="btn btn-lg btn-primary mt-5 register btn-blue" type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <div id="signup_popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <h2>Регистрация закрыта :(</h2>
            <p>Приносим свои извинения, в связи с обновлением базы данных, регистрация не работает. Попробуйте через
                пару минут</p>
        </div>
    </div>

    <div id="end_signup_popup" class="end_popup">
        <div class="popup-content">
            <span class="end_close">&times;</span>
            <h2>Отправили письмо на вашу почту!</h2>
            <p>Чтобы завершить регистрацию, вам нужно открыть почтовый ящик, который вы только что указали, найти там
                письмо, нажать на кнопку в этом письме. Вас перекинет на страницу
                нашего сайти, там произойдет проверка вашего email, и если все будет хорошо, вас пропустит дальше )</p>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/phone_number.js' %}"></script>
    <script src="{% static 'js/response_signup.js' %}"></script>
{#    {% autoescape off %}#}
{#        {{ telegram_login_widget }}#}
{#    {% endautoescape %}#}
{##}
{#    <script type="text/javascript">#}
{#        function onTelegramAuth(user) {#}
{#            alert('Logged in as ' + user.first_name + ' ' + user.last_name + '!');#}
{#        }#}
{#    </script>#}
{% endblock %}
{##}
{#?id=243807051&#}
{#first_name=Максим&#}
{#last_name=Нечепорук 💻&#}
{#username=maxim_jordan&#}
{#photo_url=https%3A%2F%2Ft.me%2Fi%2Fuserpic%2F320%2FiZj4tt3iqCACqpzj9BOSLP2z6hDOQcVxydNv5yTeIyo.jpg&#}
{#auth_date=1681407110&#}
{#hash=331ef139d64f2b4b29dd4f92c2842b03042902ae152593ddb457553eefb03f02#}